go 1.22.0

use (
	./01_hello
	./02_variable
	./03_data_type
	./04_operator
	./05_condition
	./06_looping
	./07_array
	./08_slice
	./09_map
	./10_function
	./11_pointer
	./12_struct
	./13_method
	./14_property_modifier
	./15_interface
	./16_reflect
	./17_goroutine
	./18_channel
	./19_defer_exit
	./20_error_panic_recover
	./21_format_string
)
